/* Fonts */
@font-face {
    font-family: 'WinThreeOne';
    src: url('https://ianrenton.github.io/web3point1/fonts/w95fa.woff2') format('woff2'),
         url('https://ianrenton.github.io/web3point1/fonts/w95fa.woff') format('woff');
}
@font-face {
    font-family: 'DOS';
    src: url('https://ianrenton.github.io/web3point1/fonts/LessPerfectDOSVGA.woff2') format('woff2'),
         url('https://ianrenton.github.io/web3point1/fonts/LessPerfectDOSVGA.woff') format('woff');
}

/* Overall */
html, body { 
    width:100%; 
    height:100%; 
    margin:0; 
    font-family: 'WinThreeOne', sans-serif;
    font-size: 12px;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

/* Windows */
.window {
    padding: 4px;
    background-color: white;
    box-shadow:
        inset 0 0 0 1px black,
        inset 0 0 0 3px lightgrey,
        inset 0 0 0 4px black;
}

.windowheader {
    background-color: lightgrey;
    color: black;
    border-bottom: 1px solid black;
    font-size: 14px;
    height: 20px; 
}

.selectedwindow .windowheader {
    background-color: darkblue;
    color: white;
}

.windowtitle {
    padding: 2px;
    line-height: 16px;
    text-align: center;
    cursor: default;
}

.windowclose {
    float: left;
    display: inline-block;
    width: 15px;
    height: 19px;
    padding: 0 0 1px 5px;
    background-color: lightgrey;
    border-right: 1px solid black;
    font-size: 20px;
    color: white;
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px darkgrey;
    cursor: default;
}

.windowmenubar {
    background-color: white;
    border-bottom: 1px solid black;
    font-size: 14px;
    height: 12px;
    padding: 4px;
    line-height: 16px;
    cursor: default;
}

.windowclose::before {
    content: '-';
}

.ui-icon-gripsmall-diagonal-se {
    background-image: none !important;
}

/* Window contents */
.windowinner {
    height: calc(100% - 21px);
    width: 100%;
    overflow: hidden;
}
.windowmenubar + .windowinner {
    height: calc(100% - 42px) !important;
}

.fullwindowhtml {
    padding: 0px 8px;
}

textarea.fullwindowtextarea {
    padding: 5px;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    font-family: 'WinThreeOne', sans-serif;
    font-size: 12px;
}

textarea.fullwindowdosprompt {
    padding: 5px;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    background-color: black;
    color: lightgrey;
    font-family: 'DOS', monospace;
    font-size: 16px;
}

/* Icons */
.icon {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.icon p {
    display: block;
    margin: 5px auto 0 auto;
    padding: 2px;
    cursor: default;
}

.icon p.highlight {
    background-color: darkblue;
    color: white;
}

/* New code (WlodekM's) */

button{
    --button-bg:rgb(198, 198, 198);
    --button-light:rgb(235, 235, 235);
    --button-dark:rgb(148, 148, 148);
    --button-border-width:2px;
    font-family: 'WinThreeOne', sans-serif;
    background-color: rgb(198, 198, 198);
    border-top: var(--button-light) solid var(--button-border-width);
    border-left: var(--button-light) solid var(--button-border-width);
    border-bottom: var(--button-dark) solid var(--button-border-width);
    border-right: var(--button-dark) solid var(--button-border-width);
    border-radius: 1px;
    box-shadow: 0 0 0 1px black;
}
button:active{
    border-top: var(--button-dark) solid var(--button-border-width);
    border-left: var(--button-dark) solid var(--button-border-width);
    border-bottom: var(--button-light) solid var(--button-border-width);
    border-right: var(--button-light) solid var(--button-border-width);
    padding-left: 5.5px;
    padding-right: 6.5px;
}
.windowinner{
    margin-bottom: 5px;
}
.windowinner p{
    padding-top: 0;
    margin: 4px !important;
    margin-top: 6px !important;
    margin-bottom: 0 !important;
    padding-bottom: 1px;
}

::-webkit-scrollbar {
	width: 16px;
	background-color: rgb(192, 192, 192);
}

::-webkit-scrollbar:horizontal {
	height: 17px
}

::-webkit-scrollbar-corner {
	background: rgb(255, 255, 255)
}

::-webkit-scrollbar-track {
	background-image: rgb(192, 192, 192)
}

::-webkit-scrollbar-thumb {
	background-color: rgb(192, 192, 192);
	box-shadow: inset -1px -1px black,inset 1px 1px black,inset -3px -3px rgb(128, 128, 128),inset 2px 2px rgb(255, 255, 255)
}

::-webkit-scrollbar-button:horizontal:end:increment,::-webkit-scrollbar-button:horizontal:start:decrement,::-webkit-scrollbar-button:vertical:end:increment,::-webkit-scrollbar-button:vertical:start:decrement {
	display: block
}

::-webkit-scrollbar-button:vertical:start {
	height: 17px;
    background-size: 104%;
	background-image: url(scroll-up.png)
}

::-webkit-scrollbar-button:vertical:end {
	height: 17px;
    background-size: 104%;
	background-image: url(scroll-down.png)
}

::-webkit-scrollbar-button:horizontal:start {
	width: 16px;
    background-size: 104%;
	background-image: url(scroll-left.png)
}

::-webkit-scrollbar-button:horizontal:end {
	width: 16px;
    background-size: 104%;
	background-image: url(scroll-right.png)
}

.field-row-stacked *+* {
	margin-top: 6px
}

input[type=checkbox],input[type=radio] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: 0;
	border: none;
	margin: 0;
	opacity: 0;
	position: fixed
}

input[type=checkbox]+label,input[type=radio]+label {
	line-height: 13px
}


input[type=checkbox]:focus+label,input[type=radio]:focus+label {
	outline: 1px dotted #000
}

input[type=checkbox]+label {
	margin-left: 19px;
	position: relative
}

input[type=checkbox]+label:before {
	background: #fff;
	box-shadow: inset -1px -1px black,inset 1px 1px black;
	content: "";
	display: inline-block;
	height: 13px;
	left: -19px;
	margin-right: 6px;
	position: absolute;
	width: 13px
}

input[type=checkbox]:active+label:before {
	background: white
}

input[type=checkbox]:checked+label:after {
	background: url('checked.png');
	content: "";
	display: block;
	height: 11px;
	left: -16px;
	position: absolute;
	top: 1px;
    left:-18px;
	width: 11px
}

input[type=checkbox][disabled]+label:before {
	background: silver
}

input[type=checkbox][disabled]:checked+label:after {
	background: url('checked.png')
}
input[type=email],input[type=number],input[type=password],input[type=text] {
    font-family: 'DOS';
    src: url('https://ianrenton.github.io/web3point1/fonts/LessPerfectDOSVGA.woff2') format('woff2'),
         url('https://ianrenton.github.io/web3point1/fonts/LessPerfectDOSVGA.woff') format('woff');
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
}

input[type=email],input[type=number],input[type=password],input[type=text],select {
	background-color: #fff;
    border: #000 1px solid;
	padding: 3px 4px;
    font-family: 'DOS';
    src: url('https://ianrenton.github.io/web3point1/fonts/LessPerfectDOSVGA.woff2') format('woff2'),
         url('https://ianrenton.github.io/web3point1/fonts/LessPerfectDOSVGA.woff') format('woff');
}
input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=text]:focus,select:focus,textarea:focus {
	outline: none
}
select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url(dropdown.png);
	background-position: top -1px right -1px;
	background-repeat: no-repeat;
    background-size: 17px;
    height: 20px;
	border-radius: 0;
	padding-right: 32px;
	position: relative
}
